<h2 *ngIf="!songs"><em>Loading...</em></h2>
<ul class="list-group">
  <li *ngFor="let song of songs" class="list-group-item clearfix">
    {{song.name}}
    <div class="btn-group pull-right">
      <button class="btn btn-success" (click)="activate(song)"><span class="glyphicon glyphicon-floppy-open"></span> Open</button>
      <a href="songs/{{song.id}}" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
      <button class="btn btn-danger" (click)="delete(song)"><span class="glyphicon glyphicon-remove"></span> Delete</button>
    </div>
  </li>
</ul>
<a href="songs/new" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span> Add Song</a>
<input type="file" style="display: none;" (change)="importFilesSelected($event.target.files)" accept=".json" #songsInput>
<button class="btn btn-primary" (click)="songsInput.click()"><span class="glyphicon glyphicon-cloud-upload"></span> Import Songs</button>
<a href="/api/Song" download="songs.json" class="btn btn-primary"><span class="glyphicon glyphicon-cloud-download"></span> Export Songs</a>
<input type="file" style="display: none;" (change)="keymapFilesSelected($event.target.files)" accept=".ReaperKeyMap" #keymapFile>
<button class="btn btn-primary" (click)="keymapFile.click()"><span class="glyphicon glyphicon-cloud-upload"></span> Mass Import Commands</button>