<h1>Songs</h1>
<p *ngIf="!songs"><em>Loading...</em></p>
<div *ngFor="let error of errors; let i = index;" class="alert alert-danger alert-dismissable">
    <a class="close" (click)="errors.splice(i, 1)" aria-label="close">&times;</a>
    <strong>{{error}}</strong>
</div>
<ul class="list-group">
    <li *ngFor="let song of songs" class="list-group-item clearfix">
        {{song.name}}
        <div class="btn-group pull-right">
            <button class="btn btn-success" (click)="load(song)"><span class="glyphicon glyphicon-floppy-open"></span> Open</button>
            <button class="btn btn-default" (click)="edit(song)"><span class="glyphicon glyphicon-pencil"></span> Edit</button>
            <button class="btn btn-danger" (click)="delete(song)"><span class="glyphicon glyphicon-remove"></span> Delete</button>
        </div>
    </li>
</ul>
<button class="btn btn-success" (click)="add()"><span class="glyphicon glyphicon-plus"></span> Add Song</button>
<button class="btn btn-success" (click)="massImportCommands()"><span class="glyphicon glyphicon-plus"></span> Mass Import Commands</button>
<div id="songEditor" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="cancel(activeSong)">&times;</button>
                <h4 class="modal-title">Editing Song</h4>
            </div>
            <div class="modal-body">
                <p *ngIf="!activeSong">Loading...</p>
                <form class="form-horizontal" *ngIf="activeSong">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="name">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" [(ngModel)]="activeSong.name" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="duration">Duration</label>
                        <div class="col-sm-2">
                            <input class="form-control" type="number" [(ngModel)]="activeSong.minutes" [ngModelOptions]="{standalone: true}">
                        </div>
                        <div class="col-sm-2">
                            <input class="form-control" type="number" [(ngModel)]="activeSong.seconds" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="command">Command ID</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="command" [(ngModel)]="activeSong.command" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="save(activeSong)">Save</button>
                <button type="button" class="btn btn-default" (click)="cancel(activeSong)">Cancel</button>
            </div>
        </div>
    </div>
</div>

<div id="massImportCommands" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Editing Song</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="control-label col-sm-2" for="commands">Keymap file</label>
                        <div class="col-sm-10">
                            <input type="file" id="keymapFile">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="loadMassImport('keymapFile')">Import</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>