<h2 *ngIf="!settings">
    Loading...</h2>
<div class="row" *ngIf="settings">
    <div class="col">
        <form *ngIf="settings" class="form">
            <fieldset [disabled]="busy">
                <div class="form-group">
                    <label class="control-label" for="httpPort">HTTP Port:</label>
                    <input type="number" class="form-control" id="httpPort" min="0" max="65535" [(ngModel)]="settings.httpPort" name="httpPort">
                </div>
                <div class="form-group">
                    <label class="control-label" for="reaperWebUri">Reaper Web URI:</label>
                    <input type="text" class="form-control" id="reaperWebUri" [(ngModel)]="settings.reaperURI" name="reaperWebUri">
                </div>
                <div class="form-group">
                    <label class="control-label" for="lightingVenueUri">Lighting Venue URI:</label>
                    <input type="text" class="form-control" id="lightingVenueUri" [(ngModel)]="settings.lightingVenueURI" name="lightingVenueURI">
                </div>
            </fieldset>
        </form>
    </div>
</div>

<nav class="navbar fixed-bottom navbar-dark bg-dark">
    <div class="col-md-3">
        <div class="btn-group btn-group-lg d-flex justify-content-between">
            <button class="btn btn-outline-success btn-lg" (click)="save()" [disabled]="busy">
                <fa-icon icon="save"></fa-icon>
            </button>
        </div>
    </div>
</nav>