<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button (click)="collapsed = !collapsed" type="button" class="navbar-toggle">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> 
            </button>
            <a class="navbar-brand" href="#">Kadmium OSC DMX</a>
        </div>
        <div class="collapse navbar-collapse" [collapse]="collapsed">
            <ul class="nav navbar-nav">
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/sets']">
                        <span class='glyphicon glyphicon-th-list'></span> Sets
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/songs']">
                        <span class='glyphicon glyphicon-headphones'></span> Songs
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [href]="reaperUri">
                        <span class='glyphicon glyphicon-play'></span> Remote
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/settings']">
                        <span class='glyphicon glyphicon-cog'></span> Settings
                    </a>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <app-notification-menu></app-notification-menu>
                </li>
            </ul>
        </div>
    </div>
</nav>