<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - kadmium_reaper_remote_dotnet</title>
        <base href="/" />
        <link rel="stylesheet" href="~/dist/css/bootstrap.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/dist/css/bootstrap-theme.css" asp-append-version="true" />
        <script src="~/dist/js/jquery.js" asp-append-version="true"></script>
        <script src="~/dist/js/bootstrap.js" asp-append-version="true"></script>
    </head>
    <body>
        @RenderBody()

        @RenderSection("scripts", required: false)
    </body>
</html>