<button class="btn btn-default" (click)="messagesCollapsed = !messagesCollapsed"><span class="glyphicon glyphicon-bell"></span><span class="badge">{{messages.length}}</span></button>

<div class="panel" [collapse]="messagesCollapsed">
  <div class="panel-body">
    <div *ngFor="let message of messages; let i = index">
      <div class="alert" [ngClass]="message.alertStyle">
        <a class="close" (click)="remove(message)" aria-label="close">&times;</a>
        <div class="media-left">
          <h1><span class="glyphicon" (click)="toast(message)" [ngClass]="message.glyphIcon"></span></h1>
        </div>
        <div class="media-body">
          {{message.message}}
          <br>
          <button class="btn btn-default" *ngIf="message.body" (click)="iframeLoad(message, i); modalDiv.show()" [attr.data-target]="'#error-details-' + i"
            data-toggle="modal">Details</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalDiv="bs-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg" id="error-modal">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" id="modal-header">
        <button type="button" class="close" (click)="modalDiv.hide()">&times;</button>
        <h4 class="modal-title">Error Details</h4>
      </div>
      <div class="modal-body">
        <iframe [srcdoc]="getActiveMessageBody()" id="error-details-iframe" class="error-frame"></iframe>
      </div>
      <div class="modal-footer" id="modal-footer">
        <button type="button" class="btn btn-default" (click)="modalDiv.hide()">Close</button>
      </div>
    </div>
  </div>
</div>