<div class="panel panel-default" [collapse]="messagesCollapsed">
  <div class="panel-heading">
    Notifications
    <a class="close" (click)="removeAll()" aria-label="close">&times;</a>
  </div>
  <div class="panel-body">
    <div *ngIf="getMessages().length == 0">No notifications</div>
    <div *ngFor="let message of getMessages(); let i = index">
      <div class="alert" [ngClass]="message.alertStyle">
        <a class="close" (click)="remove(message)" aria-label="close">&times;</a>
        <div class="media-left">
          <span class="glyphicon" [ngClass]="message.glyphIcon"></span>
        </div>
        <div class="media-body">
          {{message.body}}
          <br>
          <button class="btn btn-default" *ngIf="message.details" (click)="iframeLoad(message, i); modalDiv.show()" [attr.data-target]="'#error-details-' + i"
            data-toggle="modal">Details</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #modalDiv="bs-modal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-lg" id="error-modal">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" id="modal-header">
        <button type="button" class="close" (click)="modalDiv.hide()">&times;</button>
        <h4 class="modal-title">Error Details</h4>
      </div>
      <div class="modal-body">
        <iframe [srcdoc]="getActiveMessageBody()" id="error-details-iframe" class="error-frame"></iframe>
      </div>
      <div class="modal-footer" id="modal-footer">
        <button type="button" class="btn btn-default" (click)="modalDiv.hide()">Close</button>
      </div>
    </div>
  </div>
</div>